body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #1f6aa3 !important;
}

h2 {
  text-align: center;
  font-weight: 900;
  color: white;
}

h4 {
  text-align: center;
  font-weight: 900;
  color: white;
}

.content {
  position: absolute; 
  bottom: 10px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 80%;
}